params {
    // Input options
    database = 'taxprofiler-testdb'
    taxonomy = null
    prepared_library = null
    custom_library = 'data/GCF_000146045.2_R64_genomic.fna,data/NC_012920.1.fa'
    kmer_length = '35'
    minimizer_length = '31'
    minimizer_spaces = '7'
    read_lengths = '100,150,250'
  
    // Pipeline options
    outdir = 'results'
    tracedir = "${params.outdir}/info"
    publish_dir_mode = 'link'

    enable_conda = false
}

process {
    withName: KRAKEN2_BUILD_CLEAN {
        publishDir = [
            path: params.outdir,
            mode: params.publish_dir_mode,
            overwrite: true,
            failOnError: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: TAR_ARCHIVE {
        publishDir = [
            path: params.outdir,
            mode: params.publish_dir_mode,
            overwrite: true,
            failOnError: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

profiles {
    debug { process.beforeScript = 'echo $HOSTNAME' }
    conda {
        params.enable_conda    = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    mamba {
        params.enable_conda    = true
        conda.useMamba         = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
}

timeline {
    enabled = true
    file = "${params.tracedir}/execution_timeline.html"
}
report {
    enabled = true
    file = "${params.tracedir}/execution_report.html"
}
trace {
    enabled = true
    file = "${params.tracedir}/execution_trace.txt"
}
dag {
    enabled = true
    file = "${params.tracedir}/pipeline_dag.svg"
}
